.navbar{

padding:15px 0;

}

.navbar-brand{

color:#2563eb!important;

}

.nav-link{

font-weight:600;

margin:0 10px;

transition:.3s;

}

.nav-link:hover{

color:#2563eb!important;

}

.input-group{

width:250px;

}

.btn-primary{

border-radius:30px;

padding:10px 20px;

}

svg{

cursor:pointer;

transition:.3s;

}

svg:hover{

color:#2563eb;

transform:scale(1.1);

}